@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzjsGyI.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f0f3f8;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
h1 {
  color: #2ecc71;
  text-align: center;
  padding: 20px 0 40px 0;
}
.wrapper {
  background-color: white;
  width: 600px;
  margin: 40px auto;
  padding: 20px 40px;
}
.field-wrap {
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
  overflow: hidden;
}
.field-wrap:hover {
  cursor: pointer;
}
.field-wrap:hover p {
  transform: translateX(10px);
}
.field-wrap:hover .checkbox {
  border-color: #2ecc71;
}
.field-wrap:first-child {
  border-top: 0;
}
.field-wrap p {
  float: left;
  margin-left: 10px;
  line-height: 30px;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.checkbox {
  float: left;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition-duration: 0.15s;
  position: relative;
  cursor: pointer;
}
.checkbox:before {
  content: "";
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #2ecc71;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.checkbox.checked {
  border-color: #2ecc71;
}
.checkbox.checked:before {
  width: 10px;
  height: 10px;
}
.select {
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
  position: relative;
}
.select.open > li > ul {
  display: block;
}
.select .select-toggle {
  border: 1px solid #29b765;
  background-color: #2ecc71;
  padding: 10px 30px;
  color: white;
  border-radius: 50px;
}
.select > li {
  list-style: none;
}
.select > li > ul {
  z-index: 2;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.select > li > ul > li {
  width: 200px;
  list-style: none;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.select > li > ul > li:first-child {
  border-top: 0;
}
.select > li > ul > li:hover {
  background-color: #2ecc71;
  color: white;
}